/* Allgemein */
body{
    font-family: 'Poppins', sans-serif;
    font-size: 2.0rem;
}

.navbar, .carousel{
    border-bottom: 1px solid #888;
}

#products{
    padding-top: 100px;
}

/* Navigation */
.nav-link {
    cursor: pointer;
}

.nav-link:active,
.nav-link:hover {
    color: cadetblues !important;
}

.icon-link:active svg, .icon-link:hover svg {
    color: cadetblues !important;
}


/* Slider */
.slider-image{
    width: 100vw;
    height: 70vh;
    background-position: center;
    background-size: cover;
}

/* Produkte */
.card-image{
    height: 500px;
    background-position: center;
    background-size: cover;
}


/* Über uns */
.about-image {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

