/*Desktop*/
@media screen and (min-width:1024px){


body{
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 250px;
}

.nav{
    background-color: black;
    color: white;
}
}